@import url("https://fonts.googleapis.com/css2?family=Syne:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Syne", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #020202, #383738);
}

.arrow-back {
  position: absolute;
  top: 10px;
  left: 10px;
}

.arrow-back a {
  color: #fff;
  text-decoration: none;
}

.arrow-back i {
  font-size: 50px;
}

@media (max-width: 768px) {
  .arrow-back {
    top: 20px;
    left: 20px;
  }

  .arrow-back i {
    font-size: 36px;
  }
}

.container {
  max-width: 700px;
  width: 100%;
  background: linear-gradient(135deg, #383838, #020202);
  padding: 25px 30px;
  border-radius: 10px;
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  color: whitesmoke;
}

.container .title::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 130px;
  background: linear-gradient(135deg, #7f7e7e, #4a4949);
  bottom: 0;
}

.container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
  color: whitesmoke;
}

form .user-details .input-box {
  width: calc(100% / 2 - 20px);
  margin-bottom: 15px;
}

.user-details .input-box .details {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 7px;
  border: 1px solid black;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #090909;
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
  color: whitesmoke;
}

form .gender-details .category {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 14px 0;
}

.gender-details .category label {
  display: flex;
  align-items: center;
  color: whitesmoke;
}

.gender-details .category .dot {
  height: 18px;
  width: 18px;
  background: #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
  transition: all 0.3 ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  border-color: #3d3d3e;
  background: #676667;
}

form input[type="radio"] {
  display: none;
}

form .button {
  height: 45px;
  margin: 45px 0;
}

form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  background: linear-gradient(135deg, #3d3d3e, #676667);
  border: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 7px;
}

form .button input:active {
  opacity: 0.9;
  cursor: pointer;
}

form .button input:hover {
  background: linear-gradient(-135deg, #3d3d3e, #676667);
  cursor: pointer;
}

/* btn */
form .btn {
  --border-color: linear-gradient(-45deg, #3d3d3e, #676667);
  --border-width: 0.125em;
  --curve-size: 0.5em;
  --blur: 30px;
  --bg: #080312;
  --color: whitesmoke;
  color: var(--color);
  /* use position: relative; so that BG is only for .btn */
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: 0.5em 1.5em;
  font-size: 17px;
  border: 0;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  clip-path: polygon(
    /* Top-left */ 0% var(--curve-size),
    var(--curve-size) 0,
    /* top-right */ 100% 0,
    100% calc(100% - var(--curve-size)),
    /* bottom-right 1 */ calc(100% - var(--curve-size)) 100%,
    /* bottom-right 2 */ 0 100%
  );
  transition: color 250ms;
  min-width: 300px;
  height: 50px;
  cursor: pointer;
  margin-top: 50px;
}

form .btn::after,
form .btn::before {
  content: "";
  position: absolute;
  inset: 0;
}

form .btn::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%;
  }

  50% {
    background-position: 70% 100%;
  }

  100% {
    background-position: 31% 0%;
  }
}

form .btn::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
    /* Top-left */ var(--border-width)
      calc(var(--curve-size) + var(--border-width) * 0.5),
    calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */ var(--border-width) calc(100% - var(--border-width))
  );
  transition: clip-path 500ms;
}

form .btn:where(:hover, :focus)::after {
  clip-path: polygon(
    /* Top-left */ calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - var(--border-width)) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width))
  );
  transition: 200ms;
}

form .btn:where(:hover, :focus) {
  color: #fff;
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }

  form .user-details .input-box {
    width: 100%;
    margin-bottom: 15px;
  }

  form .gender-details .category {
    width: 100%;
  }

  .container form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .user-details::-webkit-scrollbar {
    width: 0;
  }
}
