@import url("https://fonts.googleapis.com/css2?family=Syne:wght@500&display=swap");

* {
  font-family: 'Syne', sans-serif;
}

body {
  background: linear-gradient(to right, #232121, #6e6e70);
}

/* Style untuk container input */
.input-container {
  display: flex;
  align-items: center;
  position: relative;
}

/* Style untuk ikon mata */
.toggle-password {
  position: absolute;
  right: 0;
  margin-right: 5px;
  cursor: pointer;
}

/* Style untuk mengubah tampilan ikon mata */
.toggle-password i {
  font-size: 16px;
  color: black;
}

.form-text {
  color: whitesmoke;
}


.swal-popup-class {
  background-color: black !important;
}

.swal-title-class {
  color: white !important;
}

.swal-html-container-class {
  background-color: black !important;
}

form {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #434242;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  color: whitesmoke;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  color: whitesmoke;
}

button[type="submit"] {
  background-color: #363736;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #585958;
}

@media (max-width: 600px) {
  form {
    max-width: 90%;
  }
}
