@import url('https://fonts.googleapis.com/css2?family=Syne:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Syne', sans-serif;
}

html,body {
    font-size: 18px;
}

body {
    background: rgb(47, 46, 46);
}

.popup-overlay {
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background: linear-gradient(135deg, #383838, #020202);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}